body {
  /* background-color: rgba(180, 180, 180, 0.63); */
  background-color: #dbe5de;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%2392aca5' fill-opacity='0.4'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  margin: 0;
  padding: 0;
}

.user-icon {
}

.header {
  width: 100%;
}

.header ul {
  list-style-type: none;
  margin: 20px 30px;
  padding: 0;
  overflow: hidden;
}

.header li {
  float: right;
  margin-right: 16px;
  font-size: 13px;
}

.header li a {
  display: block;
  float: right;
  text-decoration: none;
  color: #1e1e1e;
  font-family: "Arial", sans-serif;
}

.header li a:hover {
  text-decoration: underline;
}

.user-icon img {
  width: 35px;
  margin: 0 20px 0 10px;
  padding: 0;
  border-radius: 50%;
  float: right;
  display: block;
  clear: both;
  margin-top: -10px;
}

.fa-th,
.fa-bell {
  color: #757575;
  margin-left: 15px;
}

.fa-th:hover,
.fa-bell:hover {
  color: black;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top: 20px;
}

.search {
  width: 100%;
  position: static;
  float: none;
}

.searchTerm {
  -webkit-font-smoothing: antialiased;
  background-color: #ffffff;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  width: 570px;
  border: 1px solid #e4e4e4;
  padding: 5px;
  height: 33px;
  border-radius: 1px;
  outline: none;
  color: black;
  font-size: 16px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

.searchTerm:hover {
  box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, 0.08),
    0 8px 20px 0 rgba(0, 0, 0, 0.07);
}

.buttons {
  text-align: center;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: bisque;
  border: none;
  color: #454545;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  height: 35px;
  padding: 0 20px;
  margin-right: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
}

button:hover {
  border: 1px solid #acacac;
  color: black;
}

.footer {
  position: fixed;
  display: block;
  left: 0;
  width: 100%;
  bottom: 0;
}

.footer-one {
  background-color: #f1f1f1;
  width: 100%;
  height: 47px;
  border-top: 1px solid #dadada;
}

.footer-two {
  background-color: #f1f1f1;
  width: 100%;
  height: 47px;
  border-top: 1px solid #dadada;
}

.footer-two ul {
  list-style-type: none;
  margin: 15px 30px;
  padding: 0;
  overflow: hidden;
}

.footer-two li {
  float: left;
  margin-right: 25px;
  font-size: 13px;
}

.footer-two li a {
  display: block;
  float: left;
  text-decoration: none;
  color: #757575;
  font-family: "Arial", sans-serif;
}

.footer-two li a:hover {
  text-decoration: underline;
}

.footer p {
  margin-left: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: inline-block;
  color: #757575;
  font-size: 15px;
  font-family: "Arial", sans-serif;
}

footer #bottom-footer {
  width: 100%;
  background-color: white;
  padding: 60px 0px;
}
.list-container {
  color: #d9d9d9;
}

/*
  class for each line of the result
  */
.list-item {
  font-size: 12px;
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
}
#myProgress {
  margin-top: 8px;
  text-align: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30px;
  background-color: grey;
}

#myBar {
  /* position: absolute; */
  text-align: center;
  width: 1%;
  height: 30px;
  background-color: green;
}
#match{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;

}
